#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f7f9f7;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  color: black;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card-header {
  background-color: #634caf;
  color: rgb(25, 25, 72);
  font-weight: bold;
  padding: 1em;
  border-radius: 80px 80px 0 0;
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group-text {
  background-color: #f7e0f7;
  border: 1px solid #87a377;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: #111112;
}

.form-control {
  flex: 1;
  margin-left: 1rem;
  border: 1px solid #040404;
  border-radius: 4px;
  padding: 0.5rem;
  transition: border 0.3s;
}

.form-control:focus {
  border-color: #81c784;
  outline: none;
  box-shadow: 0 0 5px rgba(200, 80, 0, 0.5);
}

.btn-success {
  background-color: #574caf;
  border: none;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  transition: background 0.5s;
}

.btn-success:hover {
  background-color: #388e3c;
}

.btn-info {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  transition: background 0.3s;
}

.btn-info:hover {
  background-color: #1976d2;
}

.error {
  color: #f44336;
  font-weight: bold;
  margin-top: 1rem;
  text-align: left;
  padding: 0 1rem;
}

.success {
  color: #4caf50;
  font-weight: bold;
  margin-top: 1rem;
  text-align: left;
  padding: 0 1rem;
}


.table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid;
  color: black;
}

.table th {
  background-color: #4caf50;
  color: white;
}

.table tr:hover {
  background-color: #e8f5e9;
}